.signup-form {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #ddd;
  padding: 10px 15px;
  width: 400px;
}