.logo{
  display: inline-block;
}
.logo a{
  width: 120px;
  padding: 3px 20px;
  height: 34px;
  line-height: 34px;
  color: #ccc;
  font-weight: 700;
}
.logo a img {
  width: 120px;
}
.header-nav{
  line-height: 64px;
  float: right;
  background: none;
  color: #fff;
}
.content{
  width: 90%;
  max-width: 1400px;
  min-width: 960px;
  margin: 15px auto;
  min-height: 400px;
}