.logo{
  display: inline-block;
}
.logo a{
  width: 120px;
  padding: 3px 20px;
  height: 34px;
  line-height: 34px;
  color: #ccc;
  font-weight: 700;
}
.logo a img {
  width: 120px;
}
.header-nav{
  line-height: 64px;
  background: #f5f5f5;
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
  min-width: 960px;
}